{
    "type": "mysql",
    "host": "database-1.cts1kdxgwzj3.us-east-1.rds.amazonaws.com",
    "port": 3306,
    "username": "admin",
    "password": "Sb({Ag}hf6AX4]^B",
    "database": "todo",
    "entities": ["entities/*.js"],
    "logging": true,
    "synchronize": true
  }